body{
    margin: 0;
    background-image: url('imgs/chessBoard.jpg');
    background-size: cover;

    height: 100vh;

}

header{
    color: rgb(39, 25, 14);
    padding-top: 20px;

    display: flex; 
    justify-content: center;
    align-items: center;

}

header h1{  
    font-size: 50px;
    font-family:monospace;
    text-align: center;

    background-color:rgb(227,193,111);
    width: 25%;

    padding: 10px;

    border: 5px solid rgb(39, 25, 14);

    border-radius: 10px;
}


#chessBoard{
    margin: 0;
    position: relative;
    left: 33%;
    transform: translateX(-50%);
    transform: translateY(-120%);

    width: 600px;
    height: 600px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    /* border: 10px solid rgb(82, 41, 8); */
    border: 15px solid rgb(39, 25, 14);

    border-radius: 10px;

}

#restartButton{
    font-size: 20px;
    font-weight: bold;

    color: rgb(227,193,111);
    background-color: rgb(39, 25, 14);

    border-radius: 10px;
    border: 2px solid rgb(39, 25, 14);
    
    padding: 10px;

    cursor: pointer;

}

#restartButton:hover{
    filter: brightness(85%);
}


#buttonArea{
    display: flex; 
    justify-content: center;
    align-items: center;
    
    margin: auto;
    width: 500px;
    padding: 15px;
}

.chessSquares{
    display: flex; 
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background 0.2s;
}

.chessSquares:hover{
    filter: brightness(90%);
}

.visitedSquares{
    font-size: 35px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.chessKnight{
    width: 50%;
    height: 100%;
}


/*          Tutorial               */

#tutorial {
    height: 750px;
    width: 500px;
    position: relative;
    transform: translateY(-10%);
}

#tutorialButton{
    position: relative;
    padding: 15px 16px;
    right: -76%;
    transform: translateY(-2405%);
    font-size:0;
    cursor: pointer;
    background: transparent;
    border-radius: 25px;
}


#tutorialButton:focus {
    outline: none;
}