body{
    margin: 0;
    background-image: url('imgs/chessBoard.jpg');
    background-size: cover;
}

header{
    color: rgb(39, 25, 14);
    padding-top: 20px;

    display: flex; 
    justify-content: center;
    align-items: center;

}

header h1{  
    font-size: 50px;
    font-family:monospace;
    text-align: center;

    background-color:rgb(227,193,111);
    width: 25%;

    padding: 10px;

    border: 5px solid rgb(39, 25, 14);

    border-radius: 10px;
}

body {
    height: 900px;
}

#chessBoard{
    margin: 0;
    position: relative;
    left: 33%;
    transform: translateX(-50%);
    transform: translateY(-120%);

    width: 600px;
    height: 600px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    /* border: 10px solid rgb(82, 41, 8); */
    border: 15px solid rgb(39, 25, 14);

    border-radius: 10px;
    /* box-shadow: 10px 10px 15px 10px rgb(116, 113, 113); */

}



#button{
    font-size: 20px;
    font-weight: bold;

    color: rgb(227,193,111);
    background-color: rgb(39, 25, 14);

    border-radius: 10px;
    border: 2px solid rgb(39, 25, 14);
    
    padding: 10px;
    /* margin-left: 10px; */

    cursor: pointer;

    transition: background 0.2s;

}

#button:hover{
    filter: brightness(90%);
}


#label{
    margin-left: 70px;
    
}

#gridSize{
    margin-left: 10px;
    width: 50px;
}

#gridValue{
    display: flex; 
    justify-content: center;
    align-items: center;
    
    margin: auto;
    width: 500px;
    padding: 15px;
}

.divs{
    display: flex; 
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background 0.2s;
}

.divs:hover{
    filter: brightness(90%);
}

.text{
    font-size: 35px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.imgs{
    width: 50%;
    height: 100%;
}


/*          Tutorial               */

#tutorial {
    height: 750px;
    width: 500px;
    position: relative;
    transform: translateY(-10%);
}

#tutorialButton{
    position: relative;
    padding: 15px 16px;
    right: -76%;
    transform: translateY(-2405%);
    font-size:0;
    cursor: pointer;
    background: transparent;
    border-radius: 25px;
}


#tutorialButton:focus {
    outline: none;
}